@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.header,
[class^="section"],
.footer {
  padding:0 10%;
}

.header {
  height: 100px;
  background-color: #1F2937;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
  margin-left: 20px;
}

.section.one {
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  gap: 50px;
  padding: 100px 10%;
}

.main-title {
  color: #F9FAF8;
  font-weight: 900;
  font-size: 48px;
  margin-bottom: 20px;
}

.main-content {
 display: flex;
 flex-direction: column;
 flex: 1;
 text-align: left;
 min-width: 300px;
}

.introduction {
  color: #E5E7EB;
  font-size: 18px;
  margin-bottom: 20px;
}

.learn-more {
  padding: 5px 10px;
  background-color: #3882F6;
  border-radius: 5px;
  border: none;
  text-align: center;
  color: #F9FAF8;
  width: 150px;
  height: 35px;
  font-size: 18px;
  font-weight: bolder;
}

.main-picture{
  flex: 1;
  min-width: 400px;
}

.main-picture img{
  height: auto;
  border-radius: 10px;
  width: 100%;
}

.section.two {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h2 {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  padding: 50px 0;
}

.pictures-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.picture {
  margin: 0 20px 50px 20px;
}

.picture img {
  object-fit: cover;
  height: 150px;
  width: 200px;
  border-radius: 10px;
  border: 3px solid #3882F6;
  box-shadow: 5px 3px 3px #b1b1b2;
}

.caption {
  font-size: 16px;
  color: #8d8d8f;
  font-style: italic;
  max-width: 200px;
  margin-top: 10px;
}

.section.three {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #E5E7EB;
  padding: 100px 18%;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
  margin-bottom: 15px;
}

.author {
  font-size: 22px;
  font-weight: bolder;
  align-self: flex-end;
  padding-right: 5%;
}